<?php

function notify($message){
     $email_from='{{ email_from }}';
     $email_to='{{ email_to }}';
     $email_message=$message;
     $email_subject="Blacklisted";

     $headers = 'From: '.$email_from."\r\n".
     'Reply-To: '.$email_from."\r\n" .
     'X-Mailer: PHP/' . phpversion();
      mail($email_to, $email_subject, $email_message, $headers); 
}

?>
